.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px;
	border-bottom: 1px solid $nav-border;
	.nav-list {
		display: flex;
		align-items: center;
		.nav-link {
			line-height: 2.4rem;
			font-weight: 400;
			color: $nav-color;
			padding: 8px 1.6rem;
			display: block;
			&:hover {
				color: $nav-hover;
			}
		}
	}
}
