// layout
.wrap-box {
	display: flex;
	.box-left {
		width: 25%;
		margin-right: 2rem;
	}
	.box-right {
		width: calc(100% - 25%);
	}
}

.shadow {
	box-shadow: 0 0 1px #00000021, 0 1px 3px #00000033;
}
.radius-5 {
	border-radius: 5px;
}
.bg-white {
	background-color: $white-color;
}

// table
table {
	border-collapse: collapse;
	width: 100%;
}
tr:first-child {
	border-bottom: 1px solid $nav-border;
}
tr:not(:first-child):hover {
	background-color: $tr-hover;
}
td,
th {
	border: 1px solid $nav-border;
	padding: 1.2rem;
}

// button
.btn {
	width: 100%;
	border: none;
	padding: 1rem 1.6rem;
	font-size: 1.8rem;
	border-radius: 5px;
}

.btn-primary {
	color: $white-color;
	background-color: $blue;
	&:hover {
		background-color: $blue2;
	}
}
