$sidebar-color: #343a40;
$txt-color: #ffffffcc;
$sidebar-border: #56606a;
$white-color: #fff;
$focus-input: #7a8793;
$btn-hover: #454d55;
$menu-hover: #494e53;
$nav-color: #00000080;
$nav-hover: #000000b3;
$nav-border: #dee2e6;
$bg-content: #f4f6f9;
