// book being
.tab-header {
	padding: 8px 2rem;
	border-bottom: 1px solid $gray-border;
	.btn-tab {
		padding: 5px 1.4rem;
		border: none;
		border-radius: 5px;
		background-color: transparent;
		font-size: 1.6rem;
		color: $sidebar-border;
	}
}

.tab-content {
	padding: 2rem;
}
.tab-item {
	display: flex;
	.tab-img {
		width: 50%;
		margin-right: 3rem;
		img {
			width: 100%;
		}
	}
}
.tab-body {
	width: 50%;
	.tab-title {
		font-size: 3.5rem;
		font-style: italic;
		font-weight: 300;
		line-height: 4rem;
		margin-bottom: 4rem;
	}
	.tab-info {
		display: flex;
		align-items: center;
		margin-bottom: 1.5rem;
		p {
			font-size: 1.8rem;
			padding-left: 2rem;
		}
	}
	.content-note {
		background-color: #eee;
		padding: 2rem;
		border-radius: 5px;
		margin-top: 2rem;
		line-height: 2.5rem;
	}
}

.label-note {
	display: block;
	margin-bottom: 1.5rem;
}
.box-text {
	background-color: $paginate-hover;
	border-radius: 5px;
	margin-bottom: 3rem;
	.max-text {
		font-size: 1.3rem;
		text-align: right;
		padding: 5px 1rem;
		color: $sidebar-border;
	}
}
.text-note {
	padding: 1rem;
	width: 100%;
	resize: none;
	font-size: 1.6rem;
	background-color: transparent;
}
